@*
    建立檢視元件步驟
    1. 在 Views/Shared/Components 資料夾下建立元件資料夾
    2. 在元件資料夾下建立 Razor 檔案 (.cshtml)
    3. 註冊元件
    4. 在View中呼叫元件
*@

@model AuthenticationModel

@if (Model.Id == "Guest")
{
    <h2>Hello Guest! Log in to get more service</h2>
}
else
{
    <h2>Hello @Model.Id!</h2>
}
