@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (ViewData["id"] == null)
{
    <form method="post" action="/home/login">
        <label class="form-label">ID</label>
        <input type="text" name="id" class="form-control" />
        <label class="form-label">Password</label>
        <input class="form-control" type="password" name="password" />
        <input type="submit" value="Submit" class="btn btn-primary mt-3" />
    </form>
}
else
{
    @* @await Component.InvokeAsync("HelloWord") *@
    <vc:hello-word></vc:hello-word>
}

